{% extends "layout.html" %}
{% block body %}
<h1>About Page</h1>
<p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil blanditiis ea aliquid accusamus enim, corporis nostrum consectetur minima aspernatur quia dignissimos sit totam harum, provident repellat deserunt sint doloremque optio animi incidunt consequatur eligendi? Fugiat quas assumenda sapiente libero harum nostrum quod</p>
<p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil blanditiis ea aliquid accusamus enim, corporis nostrum consectetur minima aspernatur quia dignis</p>
<p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil blanditiis ea aliquid accusamus enim, corporis nostrum consectetur minima aspernatur quia dignissimos sit totam harum, provident repellat deserunt sint doloremque optio animi incidunt consequatur eligendi? Fugiat quas assumenda sapiente libero harum nostrum quod Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minima accusantium, quam voluptatibus illum atque dolorum, iure deserunt ad, totam et dolore in ipsa dignissimos nam cumque voluptas! Iusto, nisi.</p>

{% endblock %}