{% extends "layout.html" %}
{% block body %}
<h3 class="my-2 text-center">Reset Password</h3>
<form action="" method="post">
    <div class="border form-group d-flex flex-column justify-content-center align-items-center">
        {{ form.hidden_tag() }}
        {{ form.password.label(class="form-text text-light") }}
        {% if form.password.errors %}
        <div class="text-danger">
            {% for error in form.password.errors %}
            <small>{{error}}</small>
            {% endfor %}
        </div>
        {% else %}
        {{ form.password(class="form-control form-control col-10 mx-5") }}
        {% endif %}

        {{ form.confirm_password.label(class="form-text text-light") }}
        {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control border-danger form-control col-10 mb-4 mx-5") }}
        <div class="text-danger">
            {% for error in form.confirm_password.errors %}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
        {% else %}
        {{ form.confirm_password(class="form-control form-control col-10 mb-4 mx-5") }}
        {% endif %}
        <div class="row">
            {{ form.submit(class="btn btn-secondary mb-2") }}
        </div>
    </div>
    </div>
</form>
{% endblock %}